# Author Page Verification

Last Verified: 2026-08-28T08:23:19.373Z
| title | authorDisplayName | authorPage | status |
| --- | --- | --- | --- |
| Delicious Ideas! | Agape International Cathedral | https://jmerrill.pub/authors/agape-international-cathedral | 200 |
| A Trubie's Guide Pt. 1 | Alesia Corpening | https://jmerrill.pub/authors/alesia-corpening | 200 |
| A Trubie's Guide Pt. 2 | Alesia Corpening | https://jmerrill.pub/authors/alesia-corpening | 200 |
| Pieces of Me All over the Place | Ashanti Flemister | https://jmerrill.pub/authors/ashanti-flemister | 200 |
| Support Beyond the Cycle | Brandyn McElroy | https://jmerrill.pub/authors/brandyn-mcelroy | 200 |
| Abortion! | Carolyn Booker-Pierce | https://jmerrill.pub/authors/carolyn-booker-pierce | 200 |
| Because the Lord Is My Shepherd | Carolyn Booker-Pierce | https://jmerrill.pub/authors/carolyn-booker-pierce | 200 |
| Girl, You're Not Crazy. You're Dealing with a Narcissist | Carolyn Booker-Pierce | https://jmerrill.pub/authors/carolyn-booker-pierce | 200 |
| Loving the Addict | Carolyn Booker-Pierce | https://jmerrill.pub/authors/carolyn-booker-pierce | 200 |
| More Than a Village | Carolyn Booker-Pierce | https://jmerrill.pub/authors/carolyn-booker-pierce | 200 |
| You're Still Not Crazy | Carolyn Booker-Pierce | https://jmerrill.pub/authors/carolyn-booker-pierce | 200 |
| The Fight for the Promiseland | Cheryl Cook | https://jmerrill.pub/authors/cheryl-cook | 200 |
| The Fight for the Promiseland: Battle Strategies for Victorious People | Cheryl Cook | https://jmerrill.pub/authors/cheryl-cook | 200 |
| Help God, I Am - the Collection | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Afraid | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Angry | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Confused | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Hurt | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Lonely | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Lost | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| Help God, I Am Sad | Cheryl Travis | https://jmerrill.pub/authors/cheryl-travis | 200 |
| My ABC's | Christy Grogg | https://jmerrill.pub/authors/christy-grogg | 200 |
| Speech Therapy Works! | Cynthia Sloan | https://jmerrill.pub/authors/cynthia-sloan | 200 |
| 365 Days of Transparency | Daphanny Baker | https://jmerrill.pub/authors/daphanny-baker | 200 |
| Lady Daphanny's Altar | Daphanny Baker | https://jmerrill.pub/authors/daphanny-baker | 200 |
| Peaches Can Do It! | Daphanny Baker | https://jmerrill.pub/authors/daphanny-baker | 200 |
| The Messenger | Daphanny Baker | https://jmerrill.pub/authors/daphanny-baker | 200 |
| The Messenger 2 | Daphanny Baker | https://jmerrill.pub/authors/daphanny-baker | 200 |
| Words of a Troubled Soul | David Williams | https://jmerrill.pub/authors/david-williams | 200 |
| Warrior's Breed | Dean Wilson | https://jmerrill.pub/authors/dean-wilson | 200 |
| Warrior's Breed | Dean Wilson | https://jmerrill.pub/authors/dean-wilson | 200 |
| Life after Detour | Deanna Jones | https://jmerrill.pub/authors/deanna-jones | 200 |
| BEE Careful | Deborah Eiland | https://jmerrill.pub/authors/deborah-eiland | 200 |
| Jalen Becomes a Big Brother | Deborah Eiland | https://jmerrill.pub/authors/deborah-eiland | 200 |
| The Girl with the Ebony Locs and the Three Bears | Deborah Eiland | https://jmerrill.pub/authors/deborah-eiland | 200 |
| The Princess and the Black-Eyed Pea | Deborah Eiland | https://jmerrill.pub/authors/deborah-eiland | 200 |
| Aligned! | Dennis Brown | https://jmerrill.pub/authors/dennis-brown | 200 |
| Connected! | Dennis Brown | https://jmerrill.pub/authors/dennis-brown | 200 |
| The Flame | Dennis Brown | https://jmerrill.pub/authors/dennis-brown | 200 |
| Love Lucy | Diane Johnson | https://jmerrill.pub/authors/diane-johnson | 200 |
| 27 Days to Overcoming Depression | Donjia Walls | https://jmerrill.pub/authors/donjia-walls | 200 |
| Ordinary People Searching for Greatness | Earline Neal | https://jmerrill.pub/authors/earline-neal | 200 |
| Inspirations from God | Edith Clay | https://jmerrill.pub/authors/edith-clay | 200 |
| 7 Step Jumpstart to Becoming Your Best Self | Ericka Johnson-Settles | https://jmerrill.pub/authors/ericka-johnson-settles | 200 |
| Are You Sure That You Are Ready? | Ericka Thornton | https://jmerrill.pub/authors/ericka-thornton | 200 |
| Conquer Your Fears and Win | Gloria Patterson | https://jmerrill.pub/authors/gloria-patterson | 200 |
| When Zuri Came to Earth | Gwendolyn Rucker-Carr | https://jmerrill.pub/authors/gwendolyn-rucker-carr | 200 |
| A Portrait of Paradise | Iyorwuese Hagher | https://jmerrill.pub/authors/iyorwuese-hagher | 200 |
| The Conquest of Azenga | Iyorwuese Hagher | https://jmerrill.pub/authors/iyorwuese-hagher | 200 |
| 101 Wisdom Lessons for Life and Living | J. Derrick Johnson | https://jmerrill.pub/authors/j-derrick-johnson | 200 |
| Establishing Glory 2: The Relationship Handbook (2nd Edition) | Jackie Smith, Jr. | https://jmerrill.pub/authors/jackie-smith-jr | 200 |
| Establishing Glory 3: The Marriage Handbook | Jackie Smith, Jr. | https://jmerrill.pub/authors/jackie-smith-jr | 200 |
| Establishing Glory: The Praise and Worship Handbook (2nd Edition) | Jackie Smith, Jr. | https://jmerrill.pub/authors/jackie-smith-jr | 200 |
| Jewels by Lady J | Janet Stephens | https://jmerrill.pub/authors/janet-stephens | 200 |
| Almost Happy | Jaylonna Stevette | https://jmerrill.pub/authors/jaylonna-stevette | 200 |
| Getting Back 2 Happy | Jaylonna Stevette | https://jmerrill.pub/authors/jaylonna-stevette | 200 |
| Have You Considered My Servant? | Jaylonna Stevette | https://jmerrill.pub/authors/jaylonna-stevette | 200 |
| Naughty Tales | Jaylonna Stevette | https://jmerrill.pub/authors/jaylonna-stevette | 200 |
| From Stylist to CEO | Karen Hill | https://jmerrill.pub/authors/karen-hill | 200 |
| The Great Hair Restart | Karen Hill | https://jmerrill.pub/authors/karen-hill | 200 |
| Inner Peace Through Life's Storms | KD Heard | https://jmerrill.pub/authors/kd-heard | 200 |
| For What It's Worth | Kelli Milligan Stammen | https://jmerrill.pub/authors/kelli-milligan-stammen | 200 |
| Your Peace Is a Priority | Kiena Hughley | https://jmerrill.pub/authors/kiena-hughley | 200 |
| Girl, Did You Know... ? | Kimberly Reeder | https://jmerrill.pub/authors/kimberly-reeder | 200 |
| Love Is an Action Word | Kurt Broadnax | https://jmerrill.pub/authors/kurt-broadnax | 200 |
| Seasons of Life | Kurt Broadnax | https://jmerrill.pub/authors/kurt-broadnax | 200 |
| Uncomfortable Conversations with God | Leslie Banks | https://jmerrill.pub/authors/leslie-banks | 200 |
| Let Me Tell You About It | Lisa Clark | https://jmerrill.pub/authors/lisa-clark | 200 |
| Damaged | Lisa Taylor | https://jmerrill.pub/authors/lisa-taylor | 200 |
| The Release of the Spirit | Lyle Goddard | https://jmerrill.pub/authors/lyle-goddard | 200 |
| When a Thug Meets Jesus | Mack Hughley | https://jmerrill.pub/authors/mack-hughley | 200 |
| Mirror of Refining Insight | Marvin Grayson | https://jmerrill.pub/authors/marvin-grayson | 200 |
| I Am My Worst Enemy! | Maurche Reed | https://jmerrill.pub/authors/maurche-reed | 200 |
| The Healed Me | Maurche Reed | https://jmerrill.pub/authors/maurche-reed | 200 |
| Hodge Podge of Life | Mildred Beard | https://jmerrill.pub/authors/mildred-beard | 200 |
| Bodacious | Nathaniel Short | https://jmerrill.pub/authors/nathaniel-short | 200 |
| The Celestial Advantage | Obadiah Harris | https://jmerrill.pub/authors/obadiah-harris | 200 |
| The Doctrine of the Last Things | Obadiah Harris | https://jmerrill.pub/authors/obadiah-harris | 200 |
| Never Give up on Love | Pamela Smith | https://jmerrill.pub/authors/pamela-smith | 200 |
| The Sun, the Shadow, and the Silence | R. Dorian Night | https://jmerrill.pub/authors/r-dorian-night | 200 |
| The Hood | Randall Beverly | https://jmerrill.pub/authors/randall-beverly | 200 |
| Divinely Inspired | Regina Scales | https://jmerrill.pub/authors/regina-scales | 200 |
| Why Faith Works for Some and Not for Others | Rodney Waller | https://jmerrill.pub/authors/rodney-waller | 200 |
| The Journey | Rosetta Perry | https://jmerrill.pub/authors/rosetta-perry | 200 |
| Destined to Break the Curse | Sean Smith, Sr. | https://jmerrill.pub/authors/sean-smith-sr | 200 |
| Destined to Break the Curse Devotional | Sean Smith, Sr. | https://jmerrill.pub/authors/sean-smith-sr | 200 |
| Focus, Trust, & Follow | Shana Byrd | https://jmerrill.pub/authors/shana-byrd | 200 |
| A Blended Family | Shecara Norris | https://jmerrill.pub/authors/shecara-norris | 200 |
| A Principal's Tale | Shelley McIntosh | https://jmerrill.pub/authors/shelley-mcintosh | 200 |
| Memoir of a Black Christian Nationalist | Shelley McIntosh | https://jmerrill.pub/authors/shelley-mcintosh | 200 |
| Memoir of a Black Christian Nationalist: Seeds of Liberation (Unabridged) | Shelley McIntosh | https://jmerrill.pub/authors/shelley-mcintosh | 200 |
| Warriors and Angels | Shelley McIntosh | https://jmerrill.pub/authors/shelley-mcintosh | 200 |
| The Master's Piece | Sylvia Benson | https://jmerrill.pub/authors/sylvia-benson | 200 |
| The Master's Piece | Sylvia Benson | https://jmerrill.pub/authors/sylvia-benson | 200 |
| God's Nudge | Tekisha Wimbush | https://jmerrill.pub/authors/tekisha-wimbush | 200 |
| God's Nudge | Tekisha Wimbush | https://jmerrill.pub/authors/tekisha-wimbush | 200 |
| The I Am In Me Part 2, Second Edition | Tekisha Wimbush | https://jmerrill.pub/authors/tekisha-wimbush | 200 |
| The I Am in Me, Second Edition | Tekisha Wimbush | https://jmerrill.pub/authors/tekisha-wimbush | 200 |
| Biblical Prescriptions for Life's Troubles | Terry Stephens | https://jmerrill.pub/authors/terry-stephens | 200 |
| Discipline and Direction | Terry Stephens | https://jmerrill.pub/authors/terry-stephens | 200 |
| God's Business Plan | Terry Stephens | https://jmerrill.pub/authors/terry-stephens | 200 |
| Kingdom Equipment 101 | Terry Stephens | https://jmerrill.pub/authors/terry-stephens | 200 |
| Love of My Life | Thaddues Smith | https://jmerrill.pub/authors/thaddues-smith | 200 |
| Understanding the Misunderstood | Tia Benincase | https://jmerrill.pub/authors/tia-benincase | 200 |
| Grandmothers Educating Minds, 2nd Edition | Toni Kleckley | https://jmerrill.pub/authors/toni-kleckley | 200 |
| The ESSENCE of Life | Tracy Norris | https://jmerrill.pub/authors/tracy-norris | 200 |
| One Soul | Veronica Brown | https://jmerrill.pub/authors/veronica-brown | 200 |
| Number 23 and Me | Wayne Pounds | https://jmerrill.pub/authors/wayne-pounds | 200 |
| Music Ministry Unplugged | Will Harris | https://jmerrill.pub/authors/will-harris | 200 |
| Music Ministry Unplugged: Real Lessons for Those who Lead and Serve in Music Ministry | Will Harris | https://jmerrill.pub/authors/will-harris | 200 |
| Taylor Made | Will Harris | https://jmerrill.pub/authors/will-harris | 200 |
| War Mother | Winter Dockery | https://jmerrill.pub/authors/winter-dockery | 200 |
