# Title Page Verification

Last Verified: 2026-08-28T08:23:19.373Z
| id | title | slug | titlePageStatus | titlePageHasTitle | titlePageHasAuthor | titlePageHasJsonLd | pass |
| --- | --- | --- | --- | --- | --- | --- | --- |
| c70f6fd3-c27a-f111-ab0f-6045bdd69435 | Delicious Ideas! | delicious-ideas | 200 | true | true | true | true |
| 3f09d7cb-c27a-f111-ab0f-6045bdd69678 | A Trubie's Guide Pt. 1 | a-truebies-guide-part-1 | 200 | true | true | true | true |
| 848904ca-c27a-f111-ab0f-6045bdd69738 | A Trubie's Guide Pt. 2 | a-truebies-guide-part-2 | 200 | true | true | true | true |
| 07106fd3-c27a-f111-ab0f-6045bdd69435 | The Paper Champ | the-paper-champ | 200 | true | true | true | true |
| f0084bcd-c27a-f111-ab0f-00224820105b | Pieces of Me All over the Place | pieces-of-me-all-over-the-place | 200 | true | true | true | true |
| 15e01ad3-c27a-f111-ab0f-6045bdd69678 | Support Beyond the Cycle | support-beyond-the-cycle | 200 | true | true | true | true |
| 614797d0-c27a-f111-ab0f-7c1e525b15c2 | Abortion! | abortion | 200 | true | true | true | true |
| 9b4b00d4-c27a-f111-ab0f-00224820105b | Because the Lord Is My Shepherd | because-the-lord-is-my-shepherd | 200 | true | true | true | true |
| 25e01ad3-c27a-f111-ab0f-6045bdd69678 | Girl, You're Not Crazy. You're Dealing with a Narcissist | girl-you-re-not-crazy-you-re-dealing-with-a-narcissist | 200 | true | true | true | true |
| ec0f6fd3-c27a-f111-ab0f-6045bdd69435 | Loving the Addict | loving-the-addict | 200 | true | true | true | true |
| d4f603d3-c27a-f111-ab0f-000d3a14673b | More Than a Village | more-than-a-village | 200 | true | true | true | true |
| a74b00d4-c27a-f111-ab0f-00224820105b | You're Still Not Crazy | you-re-still-not-crazy | 200 | true | true | true | true |
| c84b00d4-c27a-f111-ab0f-00224820105b | The Fight for the Promiseland | the-fight-for-the-promiseland | 200 | true | true | true | true |
| 952556cd-c37a-f111-ab0f-00224820105b | The Fight for the Promiseland: Battle Strategies for Victorious People | the-fight-for-the-promiseland-battle-strategies-for-victorious-people | 200 | true | true | true | true |
| 7b5f72d0-c27a-f111-ab0f-6045bdd69738 | Help God, I Am - the Collection | help-god-i-am-the-collection | 200 | true | true | true | true |
| 293274cd-c27a-f111-ab0f-6045bdd69435 | Help God, I Am Afraid | help-god-i-am-afraid | 200 | true | true | true | true |
| 6309d7cb-c27a-f111-ab0f-6045bdd69678 | Help God, I Am Angry | help-god-i-am-angry | 200 | true | true | true | true |
| 99064bcd-c27a-f111-ab0f-00224820105b | Help God, I Am Confused | help-god-i-am-confused | 200 | true | true | true | true |
| 343274cd-c27a-f111-ab0f-6045bdd69435 | Help God, I Am Hurt | help-god-i-am-hurt | 200 | true | true | true | true |
| 6409d7cb-c27a-f111-ab0f-6045bdd69678 | Help God, I Am Lonely | help-god-i-am-lonely | 200 | true | true | true | true |
| 9e8797ca-c27a-f111-ab0f-7c1e525b15c2 | Help God, I Am Lost | help-god-i-am-lost | 200 | true | true | true | true |
| 6509d7cb-c27a-f111-ab0f-6045bdd69678 | Help God, I Am Sad | help-god-i-am-sad | 200 | true | true | true | true |
| d5084bcd-c27a-f111-ab0f-00224820105b | My ABC's | my-abc-s | 200 | true | true | true | true |
| bff603d3-c27a-f111-ab0f-000d3a14673b | Speech Therapy Works! | speech-therapy-works | 200 | true | true | true | true |
| 69b21fc6-c27a-f111-ab0f-000d3a14673b | 365 Days of Transparency | 365-days-of-transparency | 200 | true | true | true | true |
| ab084bcd-c27a-f111-ab0f-00224820105b | Lady Daphanny's Altar | lady-daphanny-s-altar | 200 | true | true | true | true |
| 4be01ad3-c27a-f111-ab0f-6045bdd69678 | Peaches Can Do It! | peaches-can-do-it | 200 | true | true | true | true |
| 930f6fd3-c27a-f111-ab0f-6045bdd69435 | The Messenger | the-messenger | 200 | true | true | true | true |
| 69137ed6-c27a-f111-ab0f-6045bdd69738 | The Messenger 2 | the-messenger-2 | 200 | true | true | true | true |
| 604797d0-c27a-f111-ab0f-7c1e525b15c2 | Words of a Troubled Soul | words-of-a-troubled-soul | 200 | true | true | true | true |
| 935f72d0-c27a-f111-ab0f-6045bdd69738 | Warrior's Breed | warrior-s-breed | 200 | true | true | true | true |
| fec27b7a-cc7a-f111-ab0f-6045bdd69435 | Warrior's Breed | warrior-s-breed-fec27b7a | 200 | true | true | true | true |
| b3084bcd-c27a-f111-ab0f-00224820105b | Life after Detour | life-after-detour | 200 | true | true | true | true |
| 998797ca-c27a-f111-ab0f-7c1e525b15c2 | BEE Careful | bee-careful | 200 | true | true | true | true |
| 26e01ad3-c27a-f111-ab0f-6045bdd69678 | Jalen Becomes a Big Brother | jalen-becomes-a-big-brother | 200 | true | true | true | true |
| 17e01ad3-c27a-f111-ab0f-6045bdd69678 | The Girl with the Ebony Locs and the Three Bears | the-girl-with-the-ebony-locs-and-the-three-bears | 200 | true | true | true | true |
| 19e01ad3-c27a-f111-ab0f-6045bdd69678 | The Princess and the Black-Eyed Pea | the-princess-and-the-black-eyed-pea | 200 | true | true | true | true |
| 7a064bcd-c27a-f111-ab0f-00224820105b | Aligned! | aligned | 200 | true | true | true | true |
| 911a04cd-c27a-f111-ab0f-000d3a14673b | Connected! | connected | 200 | true | true | true | true |
| d6f603d3-c27a-f111-ab0f-000d3a14673b | The Flame | the-flame | 200 | true | true | true | true |
| 991a04cd-c27a-f111-ab0f-000d3a14673b | Love Lucy | love-lucy | 200 | true | true | true | true |
| d0f603d3-c27a-f111-ab0f-000d3a14673b | 27 Days to Overcoming Depression | 27-days-to-overcoming-depression | 200 | true | true | true | true |
| 5c4797d0-c27a-f111-ab0f-7c1e525b15c2 | Ordinary People Searching for Greatness | ordinary-people-searching-for-greatness | 200 | true | true | true | true |
| 971a04cd-c27a-f111-ab0f-000d3a14673b | Inspirations from God | inspirations-from-god | 200 | true | true | true | true |
| 3e09d7cb-c27a-f111-ab0f-6045bdd69678 | 7 Step Jumpstart to Becoming Your Best Self | 7-step-jumpstart-to-becoming-your-best-self | 200 | true | true | true | true |
| 4009d7cb-c27a-f111-ab0f-6045bdd69678 | Are You Sure That You Are Ready? | are-you-sure-that-you-are-ready | 200 | true | true | true | true |
| 9a8797ca-c27a-f111-ab0f-7c1e525b15c2 | Conquer Your Fears and Win | conquer-your-fears-and-win | 200 | true | true | true | true |
| 65137ed6-c27a-f111-ab0f-6045bdd69738 | When Zuri Came to Earth | when-zuri-came-to-earth | 200 | true | true | true | true |
| c74b00d4-c27a-f111-ab0f-00224820105b | A Portrait of Paradise | a-portrait-of-paradise | 200 | true | true | true | true |
| c44b00d4-c27a-f111-ab0f-00224820105b | The Conquest of Azenga | the-conquest-of-azenga | 200 | true | true | true | true |
| dcf603d3-c27a-f111-ab0f-000d3a14673b | 101 Wisdom Lessons for Life and Living | 100-wisdom-lessons-for-life-and-living | 200 | true | true | true | true |
| fb3174cd-c27a-f111-ab0f-6045bdd69435 | Establishing Glory 2: The Relationship Handbook (2nd Edition) | establishing-glory-2 | 200 | true | true | true | true |
| 9c8797ca-c27a-f111-ab0f-7c1e525b15c2 | Establishing Glory 3: The Marriage Handbook | establishing-glory-3 | 200 | true | true | true | true |
| 9d8797ca-c27a-f111-ab0f-7c1e525b15c2 | Establishing Glory: The Praise and Worship Handbook (2nd Edition) | establishing-glory | 200 | true | true | true | true |
| a5084bcd-c27a-f111-ab0f-00224820105b | Jewels by Lady J | jewels-by-lady-j | 200 | true | true | true | true |
| 7b064bcd-c27a-f111-ab0f-00224820105b | Almost Happy | almost-happy | 200 | true | true | true | true |
| 6109d7cb-c27a-f111-ab0f-6045bdd69678 | Getting Back 2 Happy | getting-back-2-happy | 200 | true | true | true | true |
| 624797d0-c27a-f111-ab0f-7c1e525b15c2 | Have You Considered My Servant? | have-you-considered-my-servant | 200 | true | true | true | true |
| a05f72d0-c27a-f111-ab0f-6045bdd69738 | Naughty Tales | naughty-tales | 200 | true | true | true | true |
| 24e01ad3-c27a-f111-ab0f-6045bdd69678 | From Stylist to CEO | from-stylist-to-ceo | 200 | true | true | true | true |
| 5d4797d0-c27a-f111-ab0f-7c1e525b15c2 | The Great Hair Restart | the-great-hair-restart | 200 | true | true | true | true |
| df0f6fd3-c27a-f111-ab0f-6045bdd69435 | Inner Peace Through Life's Storms | inner-peace-through-life-s-storms | 200 | true | true | true | true |
| 958904ca-c27a-f111-ab0f-6045bdd69738 | For What It's Worth | for-what-it-s-worth | 200 | true | true | true | true |
| 66137ed6-c27a-f111-ab0f-6045bdd69738 | Your Peace Is a Priority | your-peace-is-a-priority | 200 | true | true | true | true |
| b34b00d4-c27a-f111-ab0f-00224820105b | Girl, Did You Know... ? | girl-did-you-know | 200 | true | true | true | true |
| 835f72d0-c27a-f111-ab0f-6045bdd69738 | Love Is an Action Word | love-is-an-action-word | 200 | true | true | true | true |
| b73274cd-c27a-f111-ab0f-6045bdd69435 | Seasons of Life | seasons-of-life | 200 | true | true | true | true |
| c9f603d3-c27a-f111-ab0f-000d3a14673b | Uncomfortable Conversations with God | uncomfortable-conversations-with-god | 200 | true | true | true | true |
| 6909d7cb-c27a-f111-ab0f-6045bdd69678 | Let Me Tell You About It | let-me-tell-you-about-it | 200 | true | true | true | true |
| 33106fd3-c27a-f111-ab0f-6045bdd69435 | Damaged | damaged | 200 | true | true | true | true |
| d7f603d3-c27a-f111-ab0f-000d3a14673b | The Release of the Spirit | the-release-of-the-spirit | 200 | true | true | true | true |
| 9a4b00d4-c27a-f111-ab0f-00224820105b | When a Thug Meets Jesus | when-a-thug-meets-jesus | 200 | true | true | true | true |
| 594797d0-c27a-f111-ab0f-7c1e525b15c2 | Mirror of Refining Insight | mirror-of-refining-insight | 200 | true | true | true | true |
| 563274cd-c27a-f111-ab0f-6045bdd69435 | I Am My Worst Enemy! | i-am-my-worst-enemy | 200 | true | true | true | true |
| 885f72d0-c27a-f111-ab0f-6045bdd69738 | The Healed Me | the-healed-me | 200 | true | true | true | true |
| 554797d0-c27a-f111-ab0f-7c1e525b15c2 | Hodge Podge of Life | hodge-podge-of-life | 200 | true | true | true | true |
| 901a04cd-c27a-f111-ab0f-000d3a14673b | Bodacious | bodacious | 200 | true | true | true | true |
| 16e01ad3-c27a-f111-ab0f-6045bdd69678 | The Celestial Advantage | the-celestial-advantage | 200 | true | true | true | true |
| d13274cd-c27a-f111-ab0f-6045bdd69435 | The Doctrine of the Last Things | the-doctrine-of-last-things | 200 | true | true | true | true |
| 9e3274cd-c27a-f111-ab0f-6045bdd69435 | Never Give up on Love | never-give-up-on-love | 200 | true | true | true | true |
| 62137ed6-c27a-f111-ab0f-6045bdd69738 | The Sun, the Shadow, and the Silence | the-sun-the-shadow-and-the-silence | 200 | true | true | true | true |
| c2f603d3-c27a-f111-ab0f-000d3a14673b | The Hood | the-hood | 200 | true | true | true | true |
| cc4b00d4-c27a-f111-ab0f-00224820105b | Divinely Inspired | divinely-inspired | 200 | true | true | true | true |
| 9e8ffdd6-c27a-f111-ab0f-7c1e525b15c2 | Why Faith Works for Some and Not for Others | why-faith-works-for-some-and-not-for-others | 200 | true | true | true | true |
| 944b00d4-c27a-f111-ab0f-00224820105b | The Journey | the-journey | 200 | true | true | true | true |
| 9c4b00d4-c27a-f111-ab0f-00224820105b | Destined to Break the Curse | destined-to-break-the-curse | 200 | true | true | true | true |
| 9b8797ca-c27a-f111-ab0f-7c1e525b15c2 | Destined to Break the Curse Devotional | destined-to-break-the-curse-devotional | 200 | true | true | true | true |
| 921a04cd-c27a-f111-ab0f-000d3a14673b | Focus, Trust, & Follow | focus-trust-and-follow | 200 | true | true | true | true |
| 6f8904ca-c27a-f111-ab0f-6045bdd69738 | A Blended Family | a-blended-family | 200 | true | true | true | true |
| 841a04cd-c27a-f111-ab0f-000d3a14673b | A Principal's Tale | a-principal-s-tale | 200 | true | true | true | true |
| 903274cd-c27a-f111-ab0f-6045bdd69435 | Memoir of a Black Christian Nationalist | memoir-of-a-black-christian-nationalist | 200 | true | true | true | true |
| 1159fcc8-c37a-f111-ab0f-000d3a14673b | Memoir of a Black Christian Nationalist: Seeds of Liberation (Unabridged) | memoir-of-a-black-christian-nationalist-seeds-of-liberation-unabridged | 200 | true | true | true | true |
| d9f603d3-c27a-f111-ab0f-000d3a14673b | Warriors and Angels | warriors-and-angels | 200 | true | true | true | true |
| 733cd77a-cc7a-f111-ab0f-6045bdd69678 | The Master's Piece | the-master-s-piece | 200 | true | true | true | true |
| c3f603d3-c27a-f111-ab0f-000d3a14673b | The Master's Piece | the-master-s-piece-c3f603d3 | 200 | true | true | true | true |
| 1c3274cd-c27a-f111-ab0f-6045bdd69435 | God's Nudge | god-s-nudge | 200 | true | true | true | true |
| 7e000573-cc7a-f111-ab0f-7c1e525b15c2 | God's Nudge | god-s-nudge-7e000573 | 200 | true | true | true | true |
| 5e4797d0-c27a-f111-ab0f-7c1e525b15c2 | The I Am In Me Part 2, Second Edition | the-i-am-in-me-part-2 | 200 | true | true | true | true |
| 5f4797d0-c27a-f111-ab0f-7c1e525b15c2 | The I Am in Me, Second Edition | the-i-am-in-me | 200 | true | true | true | true |
| 928904ca-c27a-f111-ab0f-6045bdd69738 | Biblical Prescriptions for Life's Troubles | biblical-prescriptions-for-life-s-troubles | 200 | true | true | true | true |
| 80064bcd-c27a-f111-ab0f-00224820105b | Discipline and Direction | discipline-and-direction | 200 | true | true | true | true |
| 82064bcd-c27a-f111-ab0f-00224820105b | God's Business Plan | god-s-business-plan | 200 | true | true | true | true |
| aa084bcd-c27a-f111-ab0f-00224820105b | Kingdom Equipment 101 | kingdom-equipment-101 | 200 | true | true | true | true |
| 9a1a04cd-c27a-f111-ab0f-000d3a14673b | Love of My Life | love-of-my-life | 200 | true | true | true | true |
| 994b00d4-c27a-f111-ab0f-00224820105b | Understanding the Misunderstood | understanding-the-misunderstood | 200 | true | true | true | true |
| 9a8904ca-c27a-f111-ab0f-6045bdd69738 | Grandmothers Educating Minds, 2nd Edition | grandmothers-educating-minds-2nd-edition | 200 | true | true | true | true |
| c1f603d3-c27a-f111-ab0f-000d3a14673b | The ESSENCE of Life | the-essence-of-life-love-letters-to-christ | 200 | true | true | true | true |
| 5b4797d0-c27a-f111-ab0f-7c1e525b15c2 | One Soul | one-soul | 200 | true | true | true | true |
| 865f72d0-c27a-f111-ab0f-6045bdd69738 | Number 23 and Me | number-23-and-me | 200 | true | true | true | true |
| 67137ed6-c27a-f111-ab0f-6045bdd69738 | Music Ministry Unplugged | music-ministry-unplugged | 200 | true | true | true | true |
| 982156cd-c37a-f111-ab0f-00224820105b | Music Ministry Unplugged: Real Lessons for Those who Lead and Serve in Music Ministry | music-ministry-unplugged-real-lessons-for-those-who-lead-and-serve-in-music-ministry | 200 | true | true | true | true |
| 60137ed6-c27a-f111-ab0f-6045bdd69738 | Taylor Made | taylor-made | 200 | true | true | true | true |
| 9d8ffdd6-c27a-f111-ab0f-7c1e525b15c2 | War Mother | war-mother | 200 | true | true | true | true |
